.find-us {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.find-us__address {
    align-items: center;

}

.find-us__map {
    filter: grayscale(60%);
}

.find-us__contact {
    padding: 0rem 0rem 0rem 1rem;

}