.wrapper{
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--warm-grey);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  'nav      nav'
  'hero-img hero-img'
  'about    about'
  'find-us  find-us'
  'footer   footer';
}

.head {
grid-area: nav;
}

.hero {
    grid-area: 1 / 1 / 3 / 3;
    object-fit: cover;
}

.hero-img {
width: 100%;
height: 100%;
}

#main {
grid-area: about;
}

.find-us {
grid-area: find-us;
}

.footer {
    grid-area: footer;
}